<% if current_user.role == "admin" %>
	<h1>Manage Users</h1>

	<% @users.each do |user| %>
		<p>
			<%= user.email %><br />
			<%= user.role %>
			<% if user.role == "guest" %>
				<%= link_to "Assign as Admin", users_path(id: user.id, promotion: "up"), class: "btn btn-success" %>
			<% else %>
				<%= link_to "Remove as Admin", users_path(id: user.id, promotion: "down"), class: "btn btn-danger" %>
			<% end %>
		</p>
	<% end %>

<% else %>
	<h1>EMPLOYEES ONLY! SCRAM!</h1>
<% end %>